.env
.docs_images
run_experiment*
setting*
자연어
자연어딥러닝/CNN/cc.ko.300.vec
chroma.sqlite3
.gitignore
*.bin
.bin
*.pt
*.pht
t5_sentiment_results
t5_lora_results
gpt_dpo_results
gpt2_sft_results
gpt2_dpo_resultscls
20260602/database.db
20260608/local_qwen_model/chat_template.jinja
20260608/local_qwen_model/config.json
20260608/local_qwen_model/generation_config.json
20260608/local_qwen_model/model.safetensors
20260608/local_qwen_model/tokenizer_config.json
20260608/local_qwen_model/tokenizer.json
20260608/Qwen-KoAlpaca-Merged.zip
20260608/Qwen-KoAlpaca-Merged/config.json
20260608/Qwen-KoAlpaca-Merged/generation_config.json
20260608/Qwen-KoAlpaca-Merged/model.safetensors
20260608/qwen_koalpaca_fp16.gguf
20260608/Qwen-KoAlpaca-Merged/chat_template.jinja
20260608/Qwen-KoAlpaca-Merged/tokenizer_config.json
20260608/Qwen-KoAlpaca-Merged/tokenizer.json
20260608/update_dataset_mapping.py
20260608/update_runpod_notebook.py
20260608/Qwen-KoAlpaca-Merged/added_tokens.json
20260608/Qwen-KoAlpaca-Merged/merges.txt
20260608/Qwen-KoAlpaca-Merged/model-00001-of-00002.safetensors
20260608/Qwen-KoAlpaca-Merged/model-00002-of-00002.safetensors
20260608/Qwen-KoAlpaca-Merged/model.safetensors.index.json
20260608/Qwen-KoAlpaca-Merged/special_tokens_map.json
20260608/Qwen-KoAlpaca-Merged/vocab.json
20260609/extracted_images/page2_img1.png
20260609/extracted_images/page3_img1.png
20260609/extracted_images/page3_img2.png
20260609/llava-rag/images/page2_img1.png
20260609/llava-rag/__pycache__/utils.cpython-310.pyc
20260609/llava-rag/__pycache__/embedder.cpython-310.pyc
20260609/llava-rag/__pycache__/vector_store.cpython-310.pyc
20260610/docs_images
20260610/excute01.py
20260610/excute02.py
20260610/output.md
20260610/rag_001.ipynb
20260610/rag_multimodal_vision.ipynb
20260610/rag_multimodal_wit_gpt.ipynb
20260610/rag_multimodal02.ipynb
20260610/records.json
20260610/doc/01._북한_원산갈마해안관광특별구법에_대한_법적_고찰.pdf
20260610/doc/02._인도네시아_헌법의_특성과_체계.pdf
20260610/doc/03._미등록_아동_방지를_위한_출생등록될_권리의_법제화_방안.pdf
20260610/doc/sample_paper.pdf
20260610/doc/법제시론_국회_입법기능의_정상화_전학선.pdf
20260610/json/\[붙임1] 2026년 대학원생 아이디어 기반 지식재산권 창출 지원 프로그램_참가신청서.json
20260610/json/\[붙임2] 2026년 대학원생 아이디어 기반 지식재산권 창출 지원 프로그램_개인정보 수집 이용 및 제공 동의서.json
20260610/json/\[산학협력팀] 2026 대학원생 아이디어 기반 지식재산권 창출 지원 프로그램 공모 계획(안).json
20260610/temp/\[붙임1] 2026년 대학원생 아이디어 기반 지식재산권 창출 지원 프로그램_참가신청서.pdf
20260610/temp/\[붙임2] 2026년 대학원생 아이디어 기반 지식재산권 창출 지원 프로그램_개인정보 수집 이용 및 제공 동의서.pdf
20260610/temp/\[산학협력팀] 2026 대학원생 아이디어 기반 지식재산권 창출 지원 프로그램 공모 계획(안).pdf
