.env
run_experiment*
setting*
자연어
자연어딥러닝/CNN/cc.ko.300.vec
chroma.sqlite3
.gitignore
*.bin
.bin
*.pt
*.pht
t5_sentiment_results
t5_lora_results
gpt_dpo_results
gpt2_sft_results
gpt2_dpo_resultscls
20260602/database.db
20260608/local_qwen_model/chat_template.jinja
20260608/local_qwen_model/config.json
20260608/local_qwen_model/generation_config.json
20260608/local_qwen_model/model.safetensors
20260608/local_qwen_model/tokenizer_config.json
20260608/local_qwen_model/tokenizer.json
20260608/Qwen-KoAlpaca-Merged.zip
20260608/Qwen-KoAlpaca-Merged/config.json
20260608/Qwen-KoAlpaca-Merged/generation_config.json
20260608/Qwen-KoAlpaca-Merged/model.safetensors
20260608/qwen_koalpaca_fp16.gguf
20260608/Qwen-KoAlpaca-Merged/chat_template.jinja
20260608/Qwen-KoAlpaca-Merged/tokenizer_config.json
20260608/Qwen-KoAlpaca-Merged/tokenizer.json
20260608/update_dataset_mapping.py
20260608/update_runpod_notebook.py
20260608/Qwen-KoAlpaca-Merged/added_tokens.json
20260608/Qwen-KoAlpaca-Merged/merges.txt
20260608/Qwen-KoAlpaca-Merged/model-00001-of-00002.safetensors
20260608/Qwen-KoAlpaca-Merged/model-00002-of-00002.safetensors
20260608/Qwen-KoAlpaca-Merged/model.safetensors.index.json
20260608/Qwen-KoAlpaca-Merged/special_tokens_map.json
20260608/Qwen-KoAlpaca-Merged/vocab.json
20260609/extracted_images/page2_img1.png
20260609/extracted_images/page3_img1.png
20260609/extracted_images/page3_img2.png
20260609/llava-rag/images/page2_img1.png
20260609/llava-rag/__pycache__/utils.cpython-310.pyc
